<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CustomersList</title>
</head>
<body>
<h1> This is a list of Bank-Members </h1>
    <!--we use here (if) to update the user if its by one id like /customers/2
     otherwise show all the users when requested by / customers-->
    <div th:if="${#lists.size(customers) ==1}">
        <!-- this is for updating the customer we used if customer >1 -->
        <form action="" method="post" >
            Only one user
            <div> Username
                <input type="text" th:field ="${newCustomer.username}">
            </div>
            <div> name
                <input type="text" th:field ="${newCustomer.name}">
            </div>
            <div> Password
                <input type="password" th:field ="${newCustomer.password}">
            </div>
            <div>
                <input type="submit" value="update user">
            </div>
        </form>
        <!-- to delete a user, new div with new delete button
        bc the above one reposts but redirecting to web Url using @ is needed,
        Id in bracket is defining what the meaning of the value,
        we put th to let know that its a url-->
        <form   th:action="@{/customers/{Id}/delete (Id= ${newCustomer.userId})}" method="post">
            <input  type="submit" value="delete user">
        </form>

    </div>

    <div th:unless ="${#lists.size(customers) ==1}" th:each="bankers: ${customers}" many Customers >
        <br>
        <span  th:text="${bankers.userId}" >  </span> <br>
        <span  th:text="${bankers.name}" > </span> <br>
        <span  th:text="${bankers.username}" > </span> <br>
        <span  th:text="${bankers.password}" type="password"> </span> <br>
        <hr>

    </div>

</body>
</html>