<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CustomersList</title>
</head>
<body>
<h1> finding users by name </h1>

        <div  th:each="one: ${findhim}">

            <div
                    th:text ="${one.name}">
            </div> <br>
            <div
                  th:text ="${one.username}">
            </div> <br>

            <div
                     th:text ="${one.password}">
            </div> <br>

        </div>

</body>
</html>