<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CustomersList</title>
</head>
<body>
<h1> finding users by name </h1>

        <form action="" method="" >

            <div
                 type="text" th:field ="${newCustomer.username}">
            </div>
            <div
                    type="text" th:field ="${newCustomer.name}">
            </div>
            <div
                    type="password" th:field ="${newCustomer.password}">
            </div>

        </form>

</body>
</html>